Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION-APPLICATION_RELEASE
Section: APPLICATION_SECTION
Maintainer: APPLICATION_MAINTAINER
Priority: optional
Architecture: APPLICATION_ARCH
Provides: APPLICATION_PACKAGE
Description: APPLICATION_DESCRIPTION
Depends: libc6
Recommends: libgtk-3-0 | libgtk-3-0t64, libwebkit2gtk-4.1-0 | libwebkit2gtk-4.0-37
Installed-Size: APPLICATION_INSTALLED_SIZE
APPLICATION_HOMEPAGE
